.scroll-off {
  overflow: hidden;
}

.modal {
  background-color: black;
  min-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.closeBtn {
  background-color: rgb(112, 0, 0);
  border: none;
  position: absolute;
  top: 50px;
  right: 15px;
  cursor: pointer;
  width: 20px;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
  z-index: 100;
}
