* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a2a2a;
  color: #dcdcdc;
}

button {
  transition: 0.2s;
  opacity: 0.7;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}
